# Problem set 2: Descriptive economics

**Table of contents**<a id='toc0_'></a>    
- 1. [Basic pandas](#toc1_)    
  - 1.1. [Dataframe](#toc1_1_)    
  - 1.2. [New variable](#toc1_2_)    
  - 1.3. [Indexing](#toc1_3_)    
  - 1.4. [Changing variables](#toc1_4_)    
  - 1.5. [Dropping observations and columns](#toc1_5_)    
  - 1.6. [Renaming](#toc1_6_)    
  - 1.7. [Income distribution](#toc1_7_)    
- 2. [National account identity](#toc2_)    
  - 2.1. [Download](#toc2_1_)    
  - 2.2. [Merge](#toc2_2_)    
  - 2.3. [Split-apply-combine-plot](#toc2_3_)    

<!-- vscode-jupyter-toc-config
	numbering=true
	anchor=true
	flat=false
	minLevel=2
	maxLevel=6
	/vscode-jupyter-toc-config -->
<!-- THIS CELL WILL BE REPLACED ON TOC UPDATE. DO NOT WRITE YOUR TEXT IN THIS CELL -->

In [ ]:
# Uncomment this to install the needed packages on your laptop. You can mark it all, and pres Cmd+Shift+7. 
# After you have installed this, you can comment it out again. You may need to restart your kernel after installation. Just press "Restart" in the toolbar above.

%pip install git+https://github.com/alemartinello/dstapi

# %pip install fredapi

In [40]:
import numpy as np
import pandas as pd
from IPython.display import display

import matplotlib.pyplot as plt
plt.rcParams.update({'axes.grid':True,'grid.color':'black','grid.alpha':'0.25','grid.linestyle':'--'})
plt.rcParams.update({'font.size': 14})

from dstapi import DstApi

## 1. <a id='toc1_'></a>[Basic pandas](#toc0_)

The first part of the exercises today can somewhat be found in the 05_06_DescriptivEconomics -> 01_Bacics.ipynb

### 1.1. <a id='toc1_1_'></a>[Dataframe](#toc0_)

Modify the code below such that *income* and *consumption* are variables in the *df* DataFrame. The variables are generated randomly through a RNG with N entries.  Assume that consumption is $consumption = \sqrt{income}$. 

The idea is to add/change the entries of the dictionary instead of creating new variables. This keeps the data collected in a single placeholder

In [ ]:
np.random.seed(1999)
 
N = 100
mydata = {}
mydata['id'] = range(N)
mydata['income'] = np.exp(np.random.normal(size=N))
mydata['consumption'] = np.sqrt(mydata['income'])

df = pd.DataFrame(mydata)
df.head()

   id    income  consumption     ratio
0   0  0.727981     0.853218  1.172033
1   1  1.997831     1.413447  0.707490
2   2  0.276823     0.526140  1.900636
3   3  1.481931     1.217346  0.821459
4   4  1.235904     1.111712  0.899513

In [ ]:
display(df)

### 1.2. <a id='toc1_2_'></a>[New variable](#toc0_)

Create a new variable *ratio* which is the ratio of consumption to income. Remember, try to use indexing on your current dataset *df* instead of creating a new variable

In [42]:
# write your code here
df.head()

,variable,unit,value,working_population,population,value_pop,value_working_pop
year,,,,,,,
1966,Y,real,1214124.0,NaN,NaN,NaN,NaN
1967,Y,real,1253402.0,NaN,NaN,NaN,NaN
1968,Y,real,1295986.0,NaN,NaN,NaN,NaN
1969,Y,real,1381084.0,NaN,NaN,NaN,NaN
1970,Y,real,1429835.0,NaN,NaN,NaN,NaN

### 1.3. <a id='toc1_3_'></a>[Indexing](#toc0_)

**Question a:** Select everybody: with an income above 1.

Create a constraint and then apply it to your dataset. Then use the .loc in pandas to locate places, where the contraint, should hold

In [ ]:
# write your code here
df.head()

**Question b:** Select everybody with an income *above* 1 and a ratio *above* 0.7.

Remember to put brackets around each constraint and use & to apply both constraint. What happens if your write | instead of &?

In [ ]:
# write your code here
df.head()

### 1.4. <a id='toc1_4_'></a>[Changing variables](#toc0_)

**Question a:** Set consumption equal to 0.5 if income is less than 0.5.

Locate the places where the the contraints holds and the set it equal to 0.5. What is the mean?

In [ ]:
# write your code here
# df['consumption'].mean() # <- compare with answer

**Question b:** Set consumption equal to income if income is less than 0.5.

Create a constraint. Use indexing of the variables to locate it, and then change the values using .values

Does the mean of consumption change? Why is that?

In [ ]:
# write your code here
# df['consumption'].mean() # <- compare with answer

### 1.5. <a id='toc1_5_'></a>[Dropping observations and columns](#toc0_)

Drop the *ratio* variable and all rows with an income above 1.5. After this, also drop the first 5 rows.

You can find help in 05_06_DescriptiveEconomics -> 03_From_Excel


*(NB: Do you see the use of f_strings?!?!?!?)*

In [ ]:
print(f'before: {df.shape[0]} observations, {df.shape[1]} variables')
# write your code here
print(f'after: {df.shape[0]} observations, {df.shape[1]} variables')

### 1.6. <a id='toc1_6_'></a>[Renaming](#toc0_)

Rename *consumption* to *cons* and *income* to *inc*.

Use data.rename(columns=('old name' : 'new name',...))Rename *consumption* to *cons* and *income* to *inc*.

In [ ]:
# write your code
df.head()

In [ ]:
N = 100
mydata = {}
mydata['id'] = range(N)
mydata['income'] = np.exp(np.random.normal(size=N))
mydata['consumption'] = np.sqrt(mydata['income'])

df_true = pd.DataFrame(mydata)

df_true = df_true.rename(columns={'income':'inc','consumption':'con'})
df_true.head()

### 1.7. <a id='toc1_7_'></a>[Income distribution](#toc0_)

Compute the share of income for each decile of the income distribution using the code below as a starting point.

I can not find this in the lectures. So try for yourselves, but otherwise look at the solution. But make sure, you discuss, what the code does!

In [ ]:
# deciles = df.quantile(?)
# df[?] = pd.cut(?,labels=?)
# income_shares df.groupby(?)[?].? / ?
# display(income_shares)

## 2. <a id='toc2_'></a>[National account identity](#toc0_)

This part will work with the API direct from Statistics Denmark. The data tables we will use are NAH1 and BEFOLK. 

Before going through these, try to look these up on the Statistics Denmark site. See what variables you can get etc. Do they match with the variables, columns and units  below?


This part is mostly about dissecting the code, and making small changes, so it fits to question. Use Cmd(Ctrl)+Shift+7 to uncomment and then alter the code!

### 2.1. <a id='toc2_1_'></a>[Download](#toc0_)

Consider the following dictionary definitions:

In [48]:
columns_dict = {}
columns_dict['TRANSAKT'] = 'variable'
columns_dict['PRISENHED'] = 'unit'
columns_dict['TID'] = 'year'
columns_dict['INDHOLD'] = 'value'

var_dict = {} # var is for variable
var_dict['P.1 Output'] = 'Y'
var_dict['P.3 Final consumption expenditure'] = 'C'
var_dict['P.3 Government consumption expenditure'] = 'G'
var_dict['P.5 Gross capital formation'] = 'I'
var_dict['P.6 Export of goods and services'] = 'X'
var_dict['P.7 Import of goods and services'] = 'M'

unit_dict = {}
unit_dict['2020-prices, chained values'] = 'real'
unit_dict['Current prices'] = 'nominal'

**Step 1:** Download all of table `nah1`.

In [ ]:
nah1_api = DstApi('hah1') 
params = nah1_api._define_base_params(language='en')
display(params)
nah1 = nah1_api.get_data(params = params

SyntaxError: invalid syntax (3363801722.py, line 4)

**Step 2:** Rename the columns using `columns_dict` and replace data using `var_dict` and `unit_dict`.

In [ ]:
# hint, nah1_true = nah1_true.rename(?)

# for key,value in var_dict.items():
#   nah1.variable.replace(?)

#for key,value in unit_dict.items():
#   nah1.unit.replace(?)

**Step 3:** Only keep rows where the variable is in `[Y, C, G, I, X, M]`. Afterwards convert the `value` column to a float.

In [ ]:
# write you code here
# nah1.value = nah1.value.astype('float')

**Step 4:** Discuss what the following summary statistics show.

In [ ]:
# nah1.groupby(['variable','unit']).describe()

**Step 5:** Sort the dataset by year

In [ ]:
# nah1 = nah1.sort_values(by='?')
# nah1.head()

### 2.2. <a id='toc2_2_'></a>[Merge](#toc0_)

Load population data from Denmark Statistics:


First you just load the data. Secondly, you have to merge the two datasets together. See the Lectures on 04_GroupBy and 05_Merge for help

In [ ]:
BEFOLK1_api = DstApi('BEFOLK1')
params = BEFOLK1_api._define_base_params(language='en')
display(params)

In [ ]:
for code in ['KØN','CIVILSTAND']:
    print(code)
    display(BEFOLK1_api.variable_levels(code,language='en'))
    print('')

In [ ]:
params['variables'][0]['values'] = ['TOT'] 
params['variables'][2]['values'] = ['TOT'] 
BEFOLK1 = BEFOLK1_api.get_data(params=params)
display(BEFOLK1.head())

In [ ]:
BEFOLK1 = BEFOLK1.rename(columns={'TID':'year','INDHOLD':'population'})
BEFOLK1 = BEFOLK1.drop(columns=['KØN','CIVILSTAND'])
pop = BEFOLK1[BEFOLK1.ALDER == 'Age, total'].drop(columns=['ALDER'])
pop.head()

**Question a:** Merge the population and the national account data, so there is a new column called `population`. Use the **merge function**.

Just as before, uncomment and alter the code, such that it fits your needs

In [ ]:
# hint, merged = pd.merge(?,?,how='?',on=[?])
# merged_true.tail(10)

**Question b:** Merge the population on again, so there is a new column called `population_alt`. Use the **join method**.

In [ ]:
# pop_with_index = pop.set_index(?)
# pop_with_index = pop_with_index.rename(columns={'population':'population_alt'})
# merged_with_index = merged.set_index(?)
# merged_alt = merged_with_index.join(?)
# merged_alt.tail(10)

**Question c:** Plot GDP per capita and GDP per working-age (18-65) using the code below as a starting point.

In [ ]:
# ages = ?

# working_pop = BEFOLK1[BEFOLK1.ALDER.isin(?)].groupby('year').?
# working_pop = working_pop.drop(columns=['ALDER'])
# working_pop = working_pop.rename(columns={'population':'working_population'})

# merged = pd.merge(nah1, working_pop, how='left', on=['year'])
# merged = pd.merge(merged, pop, how='left', on=['year'])

### 2.3. <a id='toc2_3_'></a>[Split-apply-combine-plot](#toc0_)

Ensure the following code for a **split-apply-combine-plot** can run.

In [3]:
# a. split
nah1_true_grouped = nah1_true.groupby(['variable','unit'])
nah1_true_grouped_first = nah1_true_grouped.value.first()
nah1_true_grouped_first.name = 'first'

# b. apply
nah1_true = nah1_true.set_index(['variable','unit','year'])
nah1_true = nah1_true.join(nah1_true_grouped_first,how='left',on=['variable','unit'])
nah1_true = nah1_true.reset_index()

# c. combine
nah1_true['indexed'] = nah1_true['value']/nah1_true['first']

# d. plot
def plot(df,variable='indexed'):
    df_indexed = df.set_index('year')
    I = df_indexed.unit == 'real'
    df_indexed[I].groupby(['variable'])[variable].plot(legend=True);
    
plot(nah1_true)

NameError: name 'nah1_true' is not defined

**Question:** Implement the same split-apply-combine as above using `transform`.

Help can be found in 04_GroupBy

In [ ]:
def first(x): # select the first element in a series
    return x.iloc[0]

# nah1_alt = nah1.copy()
# grouped = nah1_alt.groupby(?)
#nah1_alt[?] = ?.transform(lambda x: ?)
#nah1_alt.head()

In [ ]:
# plot(nah1_alt,variable='index_transform')